a,

.btn-link,
.btn-link:focus,

.pretty-link b,
.pretty-link:hover s,
.pretty-link:hover b,
.pretty-link:focus s,
.pretty-link:focus b,
/* Account Group */
.metadata a:hover,
.metadata a:focus,

.account-group:hover .fullname,
.account-group:focus .fullname,
.account-summary:focus .fullname,

.stats a:hover,
.stats a:hover strong,
.stats a:focus,
.stats a:focus strong,

.profile-modal-header .fullname a:hover,
.profile-modal-header .username a:hover,
.profile-modal-header .fullname a:focus,
.profile-modal-header .username a:focus,

.story-article:hover .metadata,
.story-article .metadata a:focus,

.find-friends-sources li:hover .source,





.stream-item a:hover .fullname,
.stream-item a:focus .fullname,

.stream-item .view-all-supplements:hover,
.stream-item .view-all-supplements:focus,

.tweet .time a:hover,
.tweet .time a:focus,
.tweet-actions a,
.tweet .details.with-icn b,

.stream-item:hover .original-tweet .expand-action-wrapper,
.stream-item .original-tweet.focus .expand-action-wrapper,
.opened-tweet.original-tweet  .expand-action-wrapper,

.stream-item:hover .original-tweet .details b,
.stream-item .original-tweet.focus .details b,
.stream-item.open .original-tweet .details b,

.simple-tweet:hover .details b,
.simple-tweet.focus .details b,
.simple-tweet.open .details b,
.simple-tweet:hover .details .expand-action-wrapper,
.simple-tweet.focus .details .expand-action-wrapper,
.simple-tweet.open .details .collapse-action-wrapper,
.simple-tweet:hover .details .simple-details-link,
.simple-tweet.focus .details .simple-details-link,

.client-and-actions a:hover,
.client-and-actions a:focus,

.dismiss-promoted:hover b,

.tweet .context .pretty-link:hover s,
.tweet .context .pretty-link:hover b,
.tweet .context .pretty-link:focus s,
.tweet .context .pretty-link:focus b,

.list .username a:hover,
.list .username a:focus,
.list-membership-container .create-a-list,
.list-membership-container .create-a-list:hover,



.story-header:hover .view-tweets,
.card .list-details a:hover,
.card .list-details a:focus,
.card .card-body:hover .attribution,
.card .card-body .attribution:focus,
.events-card .card-body:hover .attribution,
.events-card .card-body .attribution:focus,
.new-tweets-bar,
.onebox .soccer ul.ticker a:hover,
.onebox .soccer ul.ticker a:focus,



.discover-item-actions a,



.disco-stream-item.disco_exp_actions_on_btm .more-tweet-actions .btn-link,
.disco-stream-item.disco_exp_actions_on_btm_without_stats .more-tweet-actions .btn-link,



.remove-background-btn,



.stream-item-activity-me .latest-tweet .tweet-row a:hover,
.stream-item-activity-me .latest-tweet .tweet-row a:focus,
.stream-item-activity-me .latest-tweet .tweet-row a:hover b,
.stream-item-activity-me .latest-tweet .tweet-row a:focus b {
    color: #0084B4;
}

s,
.pretty-link:hover s,
.pretty-link:focus s,
.stream-item-activity-me .latest-tweet .tweet-row a:hover s,
.stream-item-activity-me .latest-tweet .tweet-row a:focus s {
    color: #66B5D2;
}



.vellip,
.vellip:before,
.vellip:after,
.conversation-module > li:after,
.conversation-module > li:before {
    background-color: #66B5D2;
}

.tweet .sm-reply,
.tweet .sm-rt,
.tweet .sm-fav,
.tweet .sm-image,
.tweet .sm-video,
.tweet .sm-audio,
.tweet .sm-geo,
.tweet .sm-in,
.tweet .sm-trash,
.tweet .sm-more,
.tweet .sm-page,
.tweet .sm-embed,
.tweet .sm-summary,
.tweet .sm-chat,

.timelines-navigation .active .profile-nav-icon,
.timelines-navigation .profile-nav-icon:hover,
.timelines-navigation .profile-nav-link:focus .profile-nav-icon,

.sm-top-tweet,

.metadata a.tweet-geo-text:hover .sm-geo,

.discover-item .js-action-card-search:hover .sm-search,
.discover-item .js-action-card-search:focus .sm-search {
    background-color: #0084B4;
}

.tweet-action-icons .tweet .tweet-actions .sm-reply, .tweet-action-icons .tweet.opened-tweet .tweet-actions .sm-reply,
.tweet-action-icons .tweet .tweet-actions .sm-rt, .tweet-action-icons .tweet.opened-tweet .tweet-actions .sm-rt,
.tweet-action-icons .tweet .tweet-actions .sm-fav, .tweet-action-icons .tweet.opened-tweet .tweet-actions .sm-fav,
.tweet-action-icons .tweet .tweet-actions .sm-trash, .tweet-action-icons .tweet.opened-tweet .tweet-actions .sm-trash,
.tweet-action-icons .tweet .tweet-actions .sm-more, .tweet-action-icons .tweet.opened-tweet .tweet-actions .sm-more {
    background-color: #66B5D2;
}

.persistent-tweet-actions.tweet-action-icons .tweet:hover .tweet-actions .sm-reply,
.persistent-tweet-actions.tweet-action-icons .tweet:hover .tweet-actions .sm-rt,
.persistent-tweet-actions.tweet-action-icons .tweet:hover .tweet-actions .sm-fav,
.persistent-tweet-actions.tweet-action-icons .tweet:hover .tweet-actions .sm-trash,
.persistent-tweet-actions.tweet-action-icons .tweet:hover .tweet-actions .sm-more {
    background-color: #66B5D2;
}

.tweet-action-icons .stream .tweet .tweet-actions .sm-reply:hover, .tweet-action-icons .stream .tweet .tweet-actions a:focus .sm-reply,
.tweet-action-icons .stream .tweet .tweet-actions .sm-rt:hover, .tweet-action-icons .stream .tweet .tweet-actions a:focus .sm-rt,
.tweet-action-icons .stream .tweet .tweet-actions .sm-fav:hover, .tweet-action-icons .stream .tweet .tweet-actions a:focus .sm-fav,
.tweet-action-icons .stream .tweet .tweet-actions .sm-trash:hover, .tweet-action-icons .stream .tweet .tweet-actions a:focus .sm-trash,
.tweet-action-icons .stream .tweet .tweet-actions .sm-more:hover, .tweet-action-icons .stream .tweet .tweet-actions a:focus .sm-more {
    background-color: #0084B4;
}


.wrapper.black {
  background: url(https://abs.twimg.com/a/1376773497/t1/img/wash-black-30.png);
}

.wrapper.white {
  background: url(https://abs.twimg.com/a/1376773497/t1/img/wash-white-30.png);
}

